Django>=5.0
psycopg2-binary
django-redis
djangorestframework
django-environ
djangorestframework-simplejwt
django-filter
django-cors-headers
drf-spectacular
gunicorn
pytest
pytest-django
pytest-cov
black
ruff
mypy
django-stubs
